node_modules
dist
.DS_Store
*.log
temp_*
verify_output*
image_descriptions.txt
mechanical_image_descriptions.txt
bad_latex.json
mat-issues.json
log.txt
debug_subset.json
temp_img.txt
temp_img_mech.txt
temp_map.txt
temp_mech_blocks.txt
temp_mech_map.txt
.env
.netlify
